In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import datasets

data = datasets.load_iris()
X = pd.DataFrame(data['data'],
columns=data['feature_names'])
y = data['target']

In [2]:
from sklearn.model_selection import train_test_split
#split de entrenamiento y prueba
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

from sklearn.naive_bayes import MultinomialNB
#ajustamos el modelo
model=MultinomialNB(fit_prior=False).fit(X_train,y_train) 
#Obtenemos predicciones en el set de prueba
y_hat = model.predict(X_test) 
#Matriz de confusi√≥n
pd.crosstab(y_test, y_hat)

col_0   0   1   2
row_0
0      16   0   0
1       0  17   1
2       0   0  11

In [59]:
from sklearn.metrics import f1_score
print(f1_score(y_test, y_hat, average=None))
print(f1_score(y_test, y_hat, average='weighted'))

[1.         0.97142857 0.95652174]
0.9779434092477569

In [60]:
from sklearn.metrics import jaccard_score
print(jaccard_score(y_test, y_hat, average=None))
print(jaccard_score(y_test, y_hat, average='weighted'))

[1.         0.94444444 0.91666667]
0.9574074074074073

In [32]:
df= pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa