In [ ]:
pip install pandas

In [1]:
import pandas as pd

In [2]:
s = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
s.size

10

In [3]:
s[9]

4

In [4]:
s.iloc[-1]

4

In [7]:
s2 = pd.Series({'Matemáticas': 6.0, 'Economía': 4.5, 'Programación': 7}, dtype='string')
print(s2)

Matemáticas     6.0
Economía        4.5
Programación      7
dtype: string

In [8]:
s2.loc["Matemáticas"]

'6.0'

In [11]:
print(s)

0    1
1    2
2    2
3    3
4    3
5    3
6    4
7    4
8    4
9    4
dtype: int64

In [12]:
s.sum()

30

In [13]:
s.cumsum()

0     1
1     3
2     5
3     8
4    11
5    14
6    18
7    22
8    26
9    30
dtype: int64

In [14]:
s.value_counts()

4    4
3    3
2    2
1    1
Name: count, dtype: int64

In [15]:
s.min()

1

In [16]:
s.max()

4

In [17]:
s.mean()

3.0

In [18]:
s.std()

1.0540925533894598

In [19]:
s.describe()

count    10.000000
mean      3.000000
std       1.054093
min       1.000000
25%       2.250000
50%       3.000000
75%       4.000000
max       4.000000
dtype: float64

In [20]:
datos = {'nombre':['María', 'Luis', 'Carmen', 'Antonio'],
'edad':[18, 22, 20, 21], 'grado':['Economía', 'Medicina',
'Arquitectura', 'Economía'], 'correo':['maria@gmail.com',
'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']}
df = pd.DataFrame(datos)
print(df)

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

In [21]:
df = pd.DataFrame([['María', 18], ['Luis', 22], ['Carmen',
20]], columns=['Nombre', 'Edad'])

print(df)

   Nombre  Edad
0   María    18
1    Luis    22
2  Carmen    20

In [24]:
# Importación del fichero datos-colesteroles.csv
df = pd.read_csv(
    
'https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesteroles.csv', sep=';', decimal=',')

print(df.head())

                         nombre  edad sexo  peso  altura  colesterol
0  José Luis Martínez Izquierdo    18    H  85.0    1.79       182.0
1                Rosa Díaz Díaz    32    M  65.0    1.73       232.0
2         Javier García Sánchez    24    H   NaN    1.81       191.0
3           Carmen López Pinzón    35    M  65.0    1.70       200.0
4          Marisa López Collado    46    M  51.0    1.58       148.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      14 non-null     object
 1   edad        14 non-null     int64
 2   sexo        14 non-null     object
 3   peso        13 non-null     float64
 4   altura      14 non-null     float64
 5   colesterol  13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 804.0+ bytes

In [26]:
print(df)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [27]:
df.size

84

In [28]:
df.shape

(14, 6)

In [29]:
df.reindex(index= [11,12,13], columns= ["nombre","edad"])

                             nombre  edad
11       José María de la Guía Sanz    58
12  Miguel Angel Cuadrado Gutiérrez    27
13            Carolina Rubio Moreno    20

In [30]:
print(df)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [37]:
print (df.iloc[5:10,2:4])

  sexo  peso
5    H  66.0
6    H  62.0
7    M  60.0
8    H  90.0
9    H  75.0

In [43]:
import numpy as np

In [40]:
print(df)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [41]:
df.describe()

            edad        peso     altura  colesterol
count  14.000000   13.000000  14.000000   13.000000
mean   38.214286   70.923077   1.768571  220.230769
std    15.621379   16.126901   0.115016   39.847948
min    18.000000   51.000000   1.580000  148.000000
25%    24.750000   61.000000   1.705000  194.000000
50%    35.000000   65.000000   1.755000  210.000000
75%    49.750000   78.000000   1.840000  249.000000
max    68.000000  109.000000   1.980000  280.000000

In [48]:
df['examinar'] = np.where(df['colesterol'] > 200 , 'Examinar', 'No examinar')
df

,nombre,edad,sexo,peso,altura,colesterol,examinar
0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,No examinar
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,Examinar
2,Javier García Sánchez,24,H,NaN,1.81,191.0,No examinar
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,No examinar
4,Marisa López Collado,46,M,51.0,1.58,148.0,No examinar
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,Examinar
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,Examinar
7,Pilar Martín González,22,M,60.0,1.66,NaN,No examinar
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,Examinar
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,Examinar
10,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,Examinar
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,No examinar
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,Examinar
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,No examinar

In [45]:
print(df.groupby(["sexo","examinar"]).groups)

{('H', 'Examinar'): [5, 6, 8, 9, 12], ('H', 'No examinar'): [0, 2, 11], ('M', 'Examinar'): [1, 10], ('M', 'No examinar'): [3, 4, 7, 13]}